html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}
.app-icon {
  width: 30%;
  border-radius: 25%;
  margin-right: 10%;
}

.apps {
    text-align: center;
}

.ps button {
    width: 15%;
    border-radius: 100000px;
}

img {
    max-width: 100%;
}

button {
    padding: 0;
    background: none;
    border: none;
    overflow: hidden;
}

.ps {
    text-align: center;
    position: absolute;
    bottom: 0;
}

h1 {
    text-align: center;
    margin: 25px 0;
    font-family: sans-serif;
}